@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #fffeff;
    font-family: "Poppins", sans-serif;
    padding: 2rem 1rem;
}

.row {
    border-bottom: 1px solid rgb(216, 215, 215);
    padding: 0.2rem 0;
}

.custom-row-title {
    border: none;
}

.custom-table-title {
    font-weight: 600;
}
